@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .footer {
      @apply bg-gray-50   border-t-2 border-orange-500 py-5;
    }
    .footer-link {
        @apply  text-xs   relative px-1 ;
    }
    .footer-span {
      @apply text-sm text-gray-600 font-roboto  text-center block my-4;
    }
    .footer-link::after {
      position: absolute;
      top: 14%;
      content: "";
      border-right: 1px solid black; 
      height: 10px;
      padding-left: 8px;
    }
    .footer-link::after:last-child {
      display: none;

    }
  }