@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header {
      @apply flex justify-start items-center bg-orange-600 text-white py-1 px-1 ;
    }
    .nav {
      @apply flex gap-4 items-center;
    }
    .nav-link {
      @apply text-base  font-serif text-black relative px-2;

    }
    .nav-link::after {
      position: absolute;
      top: 16%;
      content: "";
      border-right: 1px solid black; 
      height: 12px;
      padding-left: 8px;
    }
    .nav-link:last-child::after {
      display: hidden;

    }
}

